
<div class="bg-black absolute w-full">
  <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
    <img src="images/run-ghost.png" alt="" class="h-8 w-8 rotate-[360deg]">
  </marquee><marquee behavior="" direction="right" class=" bg-transparent rotate-15">
    <img src="images/run-ghost.png" alt="" class="h-3 w-3 ">
  </marquee><marquee behavior="" direction="right" class=" bg-transparent rotate-9">
    <img src="images/run-ghost.png" alt="" class="h-10 w-10">
  </marquee><marquee behavior="" direction="right" class=" bg-transparent rotate-6">
    <img src="images/run-ghost.png" alt="" class="h-6 w-6">
  </marquee>
  <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
  <img src="images/run-ghost.png" alt="" class="h-10 w-10">
  </marquee>
</div>

<!-- hero section -->
<section class="bg-black top-30">

  <video [autoplay]="true" [muted]="true" loop class="absolute inset-0 w-full h-140 object-cover opacity-60">
    <source src="https://cdn.pixabay.com/video/2023/11/16/189258-885076116_large.mp4" type="video/mp4">
    </video>

  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white opacity-70">Hellstorm Blender</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 text-justify bg-black/25 opacity-70">Forged in the depths of darkness, the Hellstorm Blender isn't just a kitchen appliance—it's a force of nature. With dragon-wing handles and a demonic vortex, it rips through ingredients like a raging inferno. Whether you're mixing potions or crafting the ultimate smoothie, this beast guarantees power, precision, and pure chaos.</p>
         
          <div class="flex items-center gap-4">
            <a href="#" class="inline-block bg-red-500 text-white px-6 py-3 rounded-full shadow-md hover:bg-red-600 transition-all duration-300 transform hover:scale-110 hover:shadow-lg">
              Buy Now
            </a>   
            <div class="relative h-10 overflow-hidden flex animate-bounce">
              <img src="images/ghost.png" alt="Ghost" class="h-10 w-10 animate-floating">
            </div>
          </div>
          
      </div>
      
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex rotate-2 pt-10 ">
        <div class="justify-center items-center rounded-3xl shadow-2xl">
    
          <img src="images/blender.png" alt="mockup" class="max-w-[450px] rounded-3xl opacity-90">

        </div>
      
      </div>   
                   
  </div>
  
</section>

<!-- product section -->
<section class="bg-black h-full">

  <div class="bg-black absolute w-full">
    <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
      <img src="images/run-ghost.png" alt="" class="h-8 w-8 rotate-10">
    </marquee>
    <marquee behavior="" direction="left" class=" bg-transparent rotate-15">
      <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
    </marquee>
  </div>
<!-- movies -->
<section class=" w-full container mx-auto h-full text-white">

  <div class="opacity-70 h-full">
      <h1 class="w-full text-center text-[1.3em] font-bold pt-5">Movies & TV Shows</h1>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-10 pt-10 h-full">
      
        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>



        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

      </div>

      

  </div>

  <div class="justify-end items-end p-5 text-end">

      <button class="bg-transparent text-red-500 font-bold text-[1.1em] pr-7 py-5 hover:text-red-700 animate-bounce">View More <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>

  </div>


</section>

<div class="bg-black absolute w-full">
  <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
    <img src="images/run-ghost.png" alt="" class="h-8 w-8 rotate-30">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-40">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-y-180">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
</div>
<!-- Books -->

<section class=" w-full container mx-auto h-full text-white">

  <div class="opacity-70 h-full">
      <h1 class="w-full text-center text-[1.3em] font-bold pt-5">Books</h1>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-10 pt-10 h-full">
      
        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>



        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

      </div>

      

  </div>

  <div class="justify-end items-end p-5 text-end">

      <button class="bg-transparent text-red-500 font-bold text-[1.1em] pr-7 py-5 hover:text-red-700 animate-bounce">View More <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>

  </div>


</section>
<div class="bg-black absolute w-full">
  <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
    <img src="images/run-ghost.png" alt="" class="h-8 w-8 rotate-30">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-40">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-y-180">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
</div>

<!-- Toys & Collectible -->

<section class=" w-full container mx-auto h-full text-white">

  <div class="opacity-70 h-full">
      <h1 class="w-full text-center text-[1.3em] font-bold pt-5">Toys & Collectible</h1>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-10 pt-10 h-full">
      
        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>



        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

      </div>

      

  </div>

  <div class="justify-end items-end p-5 text-end">

      <button class="bg-transparent text-red-500 font-bold text-[1.1em] pr-7 py-5 hover:text-red-700 animate-bounce">View More <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>

  </div>


</section>

<div class="bg-black absolute w-full">
  <marquee behavior="" direction="right" class=" bg-transparent rotate-9">
    <img src="images/run-ghost.png" alt="" class="h-8 w-8 rotate-10">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-14">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
  <marquee behavior="" direction="left" class=" bg-transparent rotate-y-18">
    <img src="images/run-ghost-left.PNG" alt="" class="h-10 w-10 ">
  </marquee>
</div>
<!-- Electronics -->

<section class=" w-full container mx-auto h-full text-white">

  <div class="opacity-70 h-full">
      <h1 class="w-full text-center text-[1.3em] font-bold pt-5">Electronics</h1>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-10 pt-10 h-full">
      
        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>


        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>



        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

        <div class="relative w-full h-[300px] p-1 bg-black text-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition">
          <img src="images/item01.png" alt="Crimson Paradox" class="w-full h-80 object-cover opacity-90">
          <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent"></div>
          <div class="absolute bottom-3 left-5">
            <h2 class="font-medium tracking-widest">CRIMSON PARADOX</h2>
            <p class="text-gray-400">$3666.00</p>
            <button class="mt-2 px-4 py-2 bg-black/20 rounded-full hover:bg-black transition"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add</button>
          </div>
        </div>

      </div>

      

  </div>

  <div class="justify-end items-end p-5 text-end">

      <button class="bg-transparent text-red-500 font-bold text-[1.1em] pr-7 py-5 hover:text-red-700 animate-bounce">View More <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>

  </div>


</section>



</section>
<app-post-footer-product></app-post-footer-product>
<app-footer></app-footer>


