<section class="relative flex items-center justify-center bg-black h-[500px]">
  <!-- Video Background -->
  <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover opacity-30">
    <source src="images/v03.mp4" type="video/mp4">
  </video>

  <div class="relative z-10 text-center w-full h-full flex items-center justify-center text-red-100 opacity-80">
    <div class="container mx-auto p-8 h-full flex flex-col justify-center text-white">
      <h1 class="text-5xl font-bold mb-4 opacity-90 tracking-wide">Unleash the Power Within</h1>
      <p class="text-lg mb-6 max-w-lg mx-auto">Exclusive offers, premium access, and limited deals—straight to your inbox.</p>
      
      <div class="flex justify-center">
        <input type="email" placeholder="Enter your email" class="px-4 py-2 w-80 bg-transparent text-white focus:outline-none placeholder-amber-50 border-red-500 border-2 rounded-s-full transition-all focus:border-amber-400">
        <button class="bg-red-500 hover:bg-red-600 text-white rounded-e-full px-6 py-2 font-semibold transition-all hover:scale-105 ">Subscribe</button>
        
      </div>
      
      <p class="mt-5 text-sm opacity-80 italic">Be the first to experience the next evolution.</p>
    </div>


    <div class=" pr-20">
      <img src="images/product-h-section-main.png" alt="" class="rounded-xl object-cover rotate-3 ">
    </div>
  </div>
</section>
